*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'OpenSans'; 
    src: url('./fuentes/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: "OpenSans", sans-serif;
    background-color: #1e1e2e;
}

nav{
    background-image: url(./Imagenes/imagen_nav_universo1.jpg);
    background-size: cover;
    background-position: left -40px;
    height: 250px;
    text-align: right; 
    color: #89b4fa;
    padding: 20px;
}

nav a{
    color: #89b4fa;
    text-decoration: none;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 15px;
    padding: 5px 10px;
}

nav a:hover{
    background-color: rgba(255, 255, 255, 0.3);
}

main{
    background-color: #1e1e2e;
    color: #89b4fa;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}
.articleIzquierda{
    width: 20%;
    padding: 20px;
}
.articleDerecha{

    width: 20%;
    padding: 20px;
}
.articlePrincipal{
    background-color: #121826;
    width: 60%;
    padding: 20px;
}
.articlePrincipal1{
    background-color: #121826;
    width: 3%;
    padding: 20px;
}

.articulo{
    cursor: default;
    transition: 0.3s;
}

.articulo:hover{
    transform: scale(1.03);
}